<style>
  .product-card {
    text-align: center;
    border: 1px solid var(--dark-grey);
    border-radius: 1rem;
  }

  .product-card__image {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 0;
  }

  .product-card__image img {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transform: scale(1);
    transition: transform 0.5s ease;
  }

  .product-card__image img:hover {
    transform: scale(1.25);
    transition: transform 0.5s ease;
  }

  .product-card__content {
    padding: 1rem;
  }

  .product-card__price {
    font-weight:bold;
    margin: 0.5rem 0;
  }

  .product-card__header {
    margin: 1rem 0 0 0;
    text-transform: uppercase;
  }

  .product-card__subtitle {
    margin: 0 0 0.5rem 0;
    color: var(--grey);
    font-size: 0.9rem;
  }

  .product-card__info {
    font-size: 0.75rem;
  }

  .product-card__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .product-tags {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    bottom: 1rem;
    left: 0;
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }

  .product-tag {
    background-color: rgba(255,255,255,0.5);
    color: black;
    text-transform: uppercase;
    font-size: 0.75rem;
    border-radius: 1rem;
    padding: 0.33rem 0.75rem;
    font-weight: bold;
  }

  .select-product {
    background:var(--green);
    border-radius: 1rem;
    padding: 0.75rem 2rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
  }

  .select-product:hover {
    filter: brightness(0.75);
  }

  .quantity-input-card {
    width: 60px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    margin-right: 0.5rem;
  }

  .add-to-cart {
    background: var(--green);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
  }

  .add-to-cart:hover {
    filter: brightness(0.9);
  }

  .product-added-message {
    display: none;
    color: var(--green);
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
 }
</style>

<div class="product-card" data-variant-id="{{ product.first_available_variant.id }}">

  <figure class="product-card__image">
    <img
      src="{{ product.featured_image | image_url: width: 600 }}"
      alt="{{ product.title }}"
    >

    {% if product.tags.size > 0 %}
      <ul class="product-tags">
        {% for tag in product.tags %}
          <li class="product-tag">{{ tag }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </figure>

  <div class="product-card__content">
    <h3 class="product-card__header">
        {{ product.title }}
    </h3>

    {% if product.metafields.custom.subtitle %}
        <p class="product-card__subtitle">
        {{ product.metafields.custom.subtitle }}
        </p>
    {% endif %}

    {% if product.metafields.custom.calories or product.metafields.custom.protein %}
        <p class="product-card__info">
        {% if product.metafields.custom.calories %}
            {{ product.metafields.custom.calories }} kcal
        {% endif %}

        {% if product.metafields.custom.calories and product.metafields.custom.protein %}
            |
        {% endif %}

        {% if product.metafields.custom.protein %}
            {{ product.metafields.custom.protein }} g protein
        {% endif %}
        </p>
    {% endif %}

    <p class="product-card__allergens {% unless product.metafields.shopify.allergen-information %}invisible{% endunless %}">
    <strong>Allergens:</strong>
    {% if product.metafields.shopify.allergen-information %}
        {% for allergen in product.metafields.shopify.allergen-information.value %}
        {{ allergen.label.value }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    {% endif %}
    </p>

    <p class="product-card__price">
        {{ product.price | money }}
    </p>

    <div class="product-card__actions">
        <input type="number" class="quantity-input-card" data-variant-id="{{ product.first_available_variant.id }}" value="1" min="1" max="10">
        <button class="add-to-cart" data-variant-id="{{ product.first_available_variant.id }}">Add</button>
    </div>

    <div class="product-added-message">
        Product added to cart
    </div>
  </div>
</div>